<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <link rel="shortcut icon" href="#"> <!-- By default, the browser is looking for the favicon.ico but instead of adding it I got rid of the error by putting this line in here -->
    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <ul>
                    <li>
                        <strong>Form Results:</strong>
                        <div id="results"></div><br>
                    </li>
                    <li>
                        <strong>Polarity:</strong>
                        <div id="polarity"></div><br>
                    </li>
                    <li>
                        <strong>Subjectivity:</strong>
                        <div id="subjectivity"></div>
                    </li>
                </ul>
                
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>        
        <script>     
            // Check that service workers are supported     
            if ('serviceWorker' in navigator) {         
            // Use the window load event to keep the page load performant         
                window.addEventListener('load', () => {             
                    navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }, function(error) {
                        // registration failed :(
                        console.log('ServiceWorker registration failed: ', error);
                     });
                    });
                };       
        </script>                    
    </body>
</html>
